:root {
  --dot-radius: 200;
  --dot-radius-px: calc(var(--dot-radius) * 1px);
  --grid-cell-size: 50px;
}

body, html {
  background-color: black;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, var(--grid-cell-size));
  grid-auto-rows: var(--grid-cell-size);
  grid-gap: 2px;
}

.grid-child {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  background-color: #000000dd;
  z-index: 1;
  color: white;
}

.grid-child:hover {
  border-color: white;
  cursor: default;
  box-shadow: 0 0 2px 1px inset #ffffffaa;
}

.grid-child.grid-child--active {
  background-color: #0055aaee;
  box-shadow:
    0 0 4px 2px inset #003366,
    0 0 4px 2px #ffffffcc;
}

.dot {
  position: absolute;
  z-index: 0;
  display: block;
  left: calc(var(--mouse-x, -1000) * 1px);
  top: calc(var(--mouse-y, -1000) * 1px);
  width: var(--dot-radius-px);
  height: var(--dot-radius-px);
  background: radial-gradient(circle, #ffffffaa 0%, transparent 50%);
  border-radius: 50%;
}
